.Content{
    text-align: center;
    width: 350px;
    height: 520px;
    overflow-y: auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.LogoutButton{
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    right: 20px;
    top: 5px;
    border-radius: 100px;
}
.LogoutButton:hover{
    background-color: rgba(0,0,0,0.036);
    cursor: pointer;
}
.walletName{
    font-weight: bold;
    margin-bottom: 5px;
}
.walletView{
width: 350px;
padding: 10px;
height: 100%;
overflow-y: auto;
}
.nftImage{
    margin-bottom: 10px;
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 10px;
}
.sendRow{
margin-bottom: 10px;
display: flex;
justify-content: flex-start;
gap: 10px;
align-items: center;
}